body {
  margin: 0;
}

#info {
  font-size: 2.25rem;
  font-family: 'Roboto', serif;
  color: #FFFFFF;
	position: absolute;
	top: 40vh;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#name {
  color: #E2226D;
}